<!-- <div class="text-center mat-bg-primary pt-1 pb-1">
  <h6 class="m-0">Notifications</h6>
</div>
<mat-nav-list class="notification-list" role="list">
   //Notification item 
  <mat-list-item *ngFor="let n of notifications" class="notific-item" role="listitem" routerLinkActive="open">
    <mat-icon [color]="n.color" class="notific-icon mr-1">{{n.icon}}</mat-icon>
    <a [routerLink]="[n.route || '/dashboard']">
      <div class="mat-list-text">
        <h4 class="message">{{n.message}}</h4>
        <small class="time text-muted">{{n.time}}</small>
      </div>
    </a>
  </mat-list-item>
</mat-nav-list>
<div class="text-center mt-1" *ngIf="notifications.length">
  <small><a href="#" (click)="clearAll($event)">Clear all notifications</a></small>
</div> -->
<div class="text-center mat-bg-primary pt-1 pb-1">
  <h6 class="m-0">Notifications</h6>
</div>
<div class="notification-list">
<div class="notification-button-row" style="padding-bottom: 5px;">
              
   <button mat-mini-fab matTooltip="Alert" color="warn" (click)="filterAlert(1)" style="margin-right: 2rem;margin-left:2rem">
    <mat-icon>add_alert</mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Notification" (click)="filterAlert(3)" color="primary" style="margin-right: 2rem;">
      <mat-icon>notification_important</mat-icon>
    </button>
  <button mat-mini-fab matTooltip="Warning" (click)="filterAlert(2)" style="color:black;background-color:rgb(251, 255, 0);">
    <mat-icon>warning</mat-icon>
  </button>
</div>
<!--
<div style="border-style: dashed;padding: 5px 5px 5px 5px;margin: 130px 5px 5px 5px;">
  Your Notification will appear here
</div> -->
<mat-accordion>
<mat-expansion-panel *ngFor="let n of nfMessages" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
       {{n.tittle}} 
    </mat-panel-title>
  </mat-expansion-panel-header>
  <p>
   {{n.messageText}} 
    <!-- <button mat-icon-button (click)="deleteNotifi(n)">
      <mat-icon>clear</mat-icon>
    </button> -->
  </p>
</mat-expansion-panel>
</mat-accordion>
</div>