table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th {background-color: #026bbe; color: #ffffff !important;}
.mat-card.p-0 .mat-card-content {padding: 0;}
tr:hover {background-color:#f5f5f5;}
.egret-blue .mat-sort-header-arrow { color: #fff !important;}