
// li{list-style: none;}
mat-expansion-panel,
mat-expansion-panel-header {
  padding:5px;
  margin: 0;
}
mat-expansion-panel-content{
    padding: 1px;
    margin: 0;
  }

  mat-card,
mat-card {
  padding: 2px;
  margin: 0;
}

li {
  list-style-type: none;
}